<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>firstwebapp</title>
</head>
<body>
    <div>
        <p>Name: @ViewBag.name</p>
        <p>location: @ViewBag.location</p>
        <p>favorite language: @ViewBag.language</p>
    </div>
</body>
</html>