<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo survey</title>
    <link rel="stylesheet" href="~/css/style.css">

</head>
<body>
    <h1>testing</h1>
    <div>
        <form action="result" method="POST">
            <label>your name:</label>
            <input type="text"  name="Name">
            <label>Dojo Location: </label>
            <select name="Location">
                <option value="seattle">Seattle</option>
                <option value="dallas">Dallas</option>
                <option value="denver">California</option>
                <option value="denver">Denver</option>
            </select>
            <label>language:</label>
            <input type="text" name="Language">
            <label>comment (optional):</label>
            <input type="text" name="Comment">
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>