<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>firstAspApp</title>
</head>
<body>
    <p><a href="/">home</a> | <a href="/projects">projects</a> | <a href="contact">Contact</a></p>
    <h2>hello from views!</h2>

    @* <p>@anonObject</p> *@
    


</body>
</html>