@{
    ViewData["Title"] = "Home Page";
}
@model DojoDachi.Models.Dachi;
<div class="top_info">
        <span>Fullness: @Model.fullness</span>
        <span>Happiness: </span>
        <span>Meals: </span>
        <span>Energy: </span>
</div>
<div  id="center_box">
    <p>You played with DojoDachi Happiness  , Energy  </p>
    <a href="/feed">Feed</a>
</div>
