@* @{
    ViewData["Title"] = "Home Page";
} *@

<div class="text-center">
    @* @Model Quote
    <form asp-action="Create" asp-controller="Quotes" method="POST">
        <span asp-validation-for="Name"></span>
        <label asp-for="Name">Your Name</label>
        <input asp-for="Name">
        <span asp-validation-for="saying"></span>
        <label asp-for="saying">Your Quote</label>
        <input asp-for="saying">
        <input value="Add Quote" type="submit">
    </form> *@

</div>
